/EnterpriseApplication1-ejb/nbproject/private/
/nbproject/private/
/EnterpriseApplication1-war/nbproject/private/
/build/
/EnterpriseApplication1-war/dist/
/EnterpriseApplication1-war/build/
/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1-ejb/build/